        // ANCHOR to top
        .toTop{
            width: 100%;
            display: flex;
            justify-content: center;

            .fa-arrow-circle-up{
                color: #E2624E;
                font-size: 50px;
                margin-top: 30px;
            }
        }