// Every page styles
@import 'variables';
@import 'header';
@import 'galerie';
@import 'presse';
@import 'footer';


html {
   margin: 0px;

   body {
      width: 100%;
      margin: 0;
      padding: 0;

      main {

         h2 {
            font-family: "Chewy";
            color: #E2624E;
            text-align: center;
            font-size: 70px;

            @media only screen and (max-width: 768px) {
               font-size: 60px;
            }

            @media only screen and (max-width: 375px) {
               font-size: 40px;
            }
         }

         #localisation {
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin: auto;
            padding-top: 5%;

            @media only screen and (max-width: 768px) {
               flex-direction: column;
            }

            @media only screen and (max-width: 375px) {
               width: 100%;
            }



            #adresse {
               width: 30%;
               background-color: #F8CFC9;
               position: relative;
               display: flex;
               flex-direction: column;
               align-items: center;
               border-radius: 30px;

               @media only screen and (max-width: 768px) {
                  width: 80%;
                  margin: auto;

               }

               @media only screen and (max-width: 375px) {
                  width: 100%;
                  border-radius: none;
               }


               #pin {
                  width: 9%;
                  padding-top: 10%;
               }

               #mascotte {
                  position: absolute;
                  left: 82%;
                  top: -15%;
                  width: 20%;
               }

               h4 {
                  font-family: "Chewy";
                  color: #E2624E;
                  text-align: center;
                  font-size: 2em;
               }

               #chaine {
                  text-align: center;
                  font-size: 1em;
                  font-family: 'Montserrat';
                  font-weight: 600;
                  line-height: 2em;
                  padding-bottom: 10%;
               }

            }

            #geolocalisation {
               width: 65%;

               @media only screen and (max-width: 768px) {
                  border: 0;
                  width: 80%;
                  margin: auto;
                  padding-top: 10%;
               }

               @media only screen and (max-width: 375px) {
                  width: 100%;
               }


            }

         }

         #formulaire {
            width: 50%;
            margin: auto;
            padding-top: 5%;

            @media only screen and (max-width: 768px) {
               width: 80%;
            }


            .renseignement,
            .quiz {
               width: 100%;
               padding: 1% 10% 1% 3%;
               border: 4px solid #DDE3B5;
               border-radius: 30px;
               font-size: 1.2em;
               font-family: 'Montserrat';


               @media only screen and (max-width: 375px) {
                  font-size: 1em;
               }

            }



            .question {
               font-size: 1em;
               font-family: 'Montserrat';
               padding-left: 4%;
            }


            #btnenvoyer {
               background-color: #DDE3B5;
               color: black;
               font-family: 'Chewy';
               border-radius: 30px;
               border: none;
               padding: 1% 3% 1% 3%;
               font-size: 1.8em;
               width: 20%;
               float: right;
               box-shadow: 3px 6px #869644;


               &:hover {
                  background-color: #869644 ;
               }


               @media only screen and (max-width: 768px) {
                  font-size: 1.5em;
               }

               @media only screen and (max-width: 375px) {
                  width: 40%;
               }

            }

         }

         .toTop {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 5%;

            .fa-arrow-circle-up {
               color: #E2624E;
               font-size: 50px;
               margin-top: 30px;


               @media only screen and (max-width: 375px) {
                  font-size: 40px;
               }
            }
         }

      }
   }

}

// #blog {
//    background-color: white;
//    display: flex;
//    flex-direction: column;
//    align-items: center;

//    h2 {
//       font-family: "Chewy";
//       font-size: 80px;
//       color: #E2624E;
//       margin-top: 30px;
//    }

//    #articles {
//       background-color: #CFD897;
//       width: 80%;
//       display: flex;
//       justify-content: space-around;
//       margin: 30px;
//       padding: 3%;

//       article {
//          width: 27%;
//          display: flex;
//          flex-direction: column;
//          align-items: center;
//          justify-content: space-between;
//          background-color: white;

//          .content {
//             display: flex;
//             flex-direction: column;
//             align-items: center;

//             h3 {
//                a {
//                   text-decoration: none;
//                   font-family: "Chewy";
//                   color: #E2624E;
//                }
//             }

//             img {
//                width: 100%;
//                height: auto;
//             }


//          }

//          .infos {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//          }
//       }
//    }

//    #button-archives {}
// }