@charset "UTF-8";
header {
  background-color: #DDE3B5; }
  header #navtel {
    padding-top: 1vh;
    padding-bottom: 1vh; }
    header #navtel #contnavtel {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: flex-end; }
      header #navtel #contnavtel #icontel {
        width: 13%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        @media only screen and (max-width: 375px) {
          header #navtel #contnavtel #icontel {
            width: auto; } }
        header #navtel #contnavtel #icontel img {
          width: 10%;
          height: auto; }
        header #navtel #contnavtel #icontel a {
          text-decoration: none;
          font-family: "Chewy";
          font-size: 1.3em;
          color: #E2624E; }
  header #couverture {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 375px) {
      header #couverture {
        height: 150px; } }
    header #couverture img {
      position: absolute;
      width: 15%;
      left: 15%;
      top: 15%; }
      @media only screen and (max-width: 375px) {
        header #couverture img {
          width: 25%; } }
  header nav {
    width: 80%;
    margin: auto;
    position: relative;
    height: 60px;
    top: -50;
    background-color: #F8CFC9;
    z-index: 2; }
    @media only screen and (max-width: 375px) {
      header nav {
        width: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; } }
    header nav #all {
      position: absolute;
      width: 100%; }
      @media only screen and (max-width: 375px) {
        header nav #all {
          top: 30%; } }
  header input {
    display: none; }
  header ul {
    margin-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center; }
    @media only screen and (max-width: 375px) {
      header ul {
        height: auto;
        background-color: #F8CFC9; } }
    header ul li a {
      display: block;
      text-decoration: none;
      font-family: 'Chewy', cursive;
      font-size: 1.3em;
      color: #E2624E; }

.ribbon i {
  position: absolute; }

body > header > nav > i:nth-child(2) {
  width: 20px;
  bottom: -20px;
  left: -60px;
  z-index: -2;
  border: 30px solid #F8CFC9;
  border-left-color: transparent; }

body > header > nav > i:nth-child(3) {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid #F8CFC9;
  border-right-color: transparent; }

.menu-checkbox:checked ~ .header-nav {
  display: none; }
  @media only screen and (max-width: 375px) {
    .menu-checkbox:checked ~ .header-nav {
      display: block; } }

.header-nav {
  display: flex; }
  @media only screen and (max-width: 375px) {
    .header-nav {
      display: none; } }

.fa-bars {
  display: none !important; }
  @media only screen and (max-width: 375px) {
    .fa-bars {
      display: block !important;
      color: #E2624E;
      font-size: x-large;
      text-align: center; } }
  .fa-bars .menu-checkbox {
    display: none; }
    @media only screen and (max-width: 375px) {
      .fa-bars .menu-checkbox {
        display: block; } }

#index #caroussel {
  background-color: #DDE3B5;
  padding-bottom: 10vh;
  /*slider*/
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* The dots/bullets/indicators */
  /* Fading animation */ }
  @media only screen and (max-width: 375px) {
    #index #caroussel {
      position: relative; } }
  #index #caroussel .slideshow-container {
    width: 80%;
    margin: auto;
    background-color: #DDE3B5;
    position: relative; }
    @media only screen and (max-width: 375px) {
      #index #caroussel .slideshow-container {
        width: 70%; } }
  #index #caroussel .mySlides {
    justify-content: center;
    display: none; }
    @media only screen and (max-width: 375px) {
      #index #caroussel .mySlides img {
        width: 100%;
        height: auto; } }
  #index #caroussel .prev, #index #caroussel .next {
    position: absolute;
    top: 50%;
    width: 5%;
    margin-top: -22px;
    color: #807979ba;
    font-size: 18px;
    transition: 0.6s ease; }
    @media only screen and (max-width: 375px) {
      #index #caroussel .prev, #index #caroussel .next {
        width: 15%; } }
  #index #caroussel .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
    @media only screen and (max-width: 375px) {
      #index #caroussel .next {
        right: -19%; } }
  @media only screen and (max-width: 375px) {
    #index #caroussel .prev {
      left: -19%; } }
  #index #caroussel .prev:hover, #index #caroussel .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  #index #caroussel #alldots {
    display: flex;
    justify-content: center; }
    #index #caroussel #alldots .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease; }
    #index #caroussel #alldots .dot:hover {
      background-color: #717171; }
  #index #caroussel .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

#index #cartesactivités {
  margin-top: 20vh; }
  @media only screen and (max-width: 375px) {
    #index #cartesactivités {
      margin-top: 10vh; } }
  #index #cartesactivités #containeractivité {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 375px) {
      #index #cartesactivités #containeractivité {
        flex-direction: column; } }
    #index #cartesactivités #containeractivité .cartesindex {
      background-color: #F8CFC9;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      min-height: 350px; }
      @media only screen and (max-width: 375px) {
        #index #cartesactivités #containeractivité .cartesindex {
          width: 100%;
          margin-bottom: 5vh; } }
      #index #cartesactivités #containeractivité .cartesindex h2 {
        font-family: "Chewy";
        font-size: 1.2em;
        color: #E2624E; }
      #index #cartesactivités #containeractivité .cartesindex p {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: 300;
        color: black; }

#index #présentation {
  margin-top: 20vh; }
  @media only screen and (max-width: 375px) {
    #index #présentation {
      margin-top: 10vh; } }
  #index #présentation #containerprésentation {
    width: 80%;
    margin: auto;
    display: flex; }
    @media only screen and (max-width: 375px) {
      #index #présentation #containerprésentation {
        flex-direction: column; } }
    #index #présentation #containerprésentation #texteprésentation {
      width: 50%; }
      @media only screen and (max-width: 375px) {
        #index #présentation #containerprésentation #texteprésentation {
          width: 100%; } }
      #index #présentation #containerprésentation #texteprésentation #square {
        width: 100%;
        height: 500px;
        left: 148.44px;
        top: 1995.07px;
        background: #F6F479;
        transform: rotate(-2.77deg);
        display: flex;
        justify-content: center; }
        @media only screen and (max-width: 375px) {
          #index #présentation #containerprésentation #texteprésentation #square {
            height: auto; } }
        #index #présentation #containerprésentation #texteprésentation #square #titretexte {
          width: 80%;
          margin: auto; }
          #index #présentation #containerprésentation #texteprésentation #square #titretexte h2 {
            transform: rotate(2.77deg);
            font-family: "Chewy";
            font-style: normal;
            font-weight: normal;
            font-size: 1.2em;
            line-height: 47px;
            color: #000000; }
            @media only screen and (max-width: 375px) {
              #index #présentation #containerprésentation #texteprésentation #square #titretexte h2 {
                text-align: center;
                font-size: 1.5em; } }
          #index #présentation #containerprésentation #texteprésentation #square #titretexte p {
            font-family: 'Montserrat', sans-serif;
            font-size: 1em;
            font-weight: 400;
            transform: rotate(2.77deg);
            line-height: 29px;
            color: #000000; }
    #index #présentation #containerprésentation #imageprésentation {
      width: 50%; }
      @media only screen and (max-width: 375px) {
        #index #présentation #containerprésentation #imageprésentation {
          display: none; } }

@media only screen and (max-width: 375px) {
  #index #sectionvideo {
    margin-top: 10vh; } }

#index #sectionvideo #containervideo {
  width: 80%;
  margin: auto;
  display: flex; }
  @media only screen and (max-width: 375px) {
    #index #sectionvideo #containervideo {
      flex-direction: column;
      align-items: center; } }
  #index #sectionvideo #containervideo #perso {
    width: 50%; }
    @media only screen and (max-width: 375px) {
      #index #sectionvideo #containervideo #perso {
        display: none; } }
  #index #sectionvideo #containervideo #button {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    position: relative; }
    #index #sectionvideo #containervideo #button a {
      width: 10vw;
      height: 3vw;
      background: #DDE3B5;
      text-decoration: none;
      font-family: Chewy;
      font-size: 1.2em;
      line-height: 3vw;
      text-align: center;
      color: #000000; }
      @media only screen and (max-width: 375px) {
        #index #sectionvideo #containervideo #button a {
          width: 100%;
          height: 6vh;
          line-height: 6vh; } }
    #index #sectionvideo #containervideo #button img {
      left: 6vw;
      position: absolute; }
      @media only screen and (max-width: 375px) {
        #index #sectionvideo #containervideo #button img {
          width: 25%;
          left: 33vw; } }

* {
  box-sizing: border-box; }

html {
  margin: 0px; }
  html body {
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 375px) {
      html body {
        width: 100%; } }
    html body #blog {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center; }
      html body #blog h2 {
        font-family: "Chewy";
        font-size: 80px;
        color: #E2624E;
        margin-top: 30px; }
      html body #blog #articles {
        background-color: #CFD897;
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: 30px;
        padding: 3%; }
        html body #blog #articles article {
          width: 27%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          background-color: white; }
          html body #blog #articles article .content {
            display: flex;
            flex-direction: column;
            align-items: center; }
            html body #blog #articles article .content h3 a {
              text-decoration: none;
              font-family: "Chewy";
              color: #E2624E; }
            html body #blog #articles article .content img {
              width: 100%;
              height: auto; }
          html body #blog #articles article .infos {
            display: flex;
            flex-direction: column;
            align-items: center; }
/*# sourceMappingURL=style.css.map */