@charset "UTF-8";
header {
  background-color: #DDE3B5; }
  header #navtel {
    padding-top: 1vh;
    padding-bottom: 1vh; }
    header #navtel #contnavtel {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: flex-end; }
      header #navtel #contnavtel #icontel {
        width: 13%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        @media only screen and (max-width: 375px) {
          header #navtel #contnavtel #icontel {
            width: auto; } }
        header #navtel #contnavtel #icontel img {
          width: 10%;
          height: auto; }
        header #navtel #contnavtel #icontel a {
          text-decoration: none;
          font-family: "Chewy";
          font-size: 1.3em;
          color: #E2624E; }
  header #couverture {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 375px) {
      header #couverture {
        height: 150px; } }
    header #couverture img {
      position: absolute;
      width: 15%;
      left: 15%;
      top: 15%; }
      @media only screen and (max-width: 375px) {
        header #couverture img {
          width: 25%; } }
  header nav {
    width: 80%;
    margin: auto;
    position: relative;
    height: 60px;
    top: -50;
    background-color: #F8CFC9;
    z-index: 2; }
    @media only screen and (max-width: 375px) {
      header nav {
        width: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; } }
    header nav #all {
      position: absolute;
      width: 100%; }
      @media only screen and (max-width: 375px) {
        header nav #all {
          top: 30%; } }
  header input {
    display: none; }
  header ul {
    margin-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center; }
    @media only screen and (max-width: 375px) {
      header ul {
        height: auto;
        background-color: #F8CFC9; } }
    header ul li a {
      display: block;
      text-decoration: none;
      font-family: 'Chewy', cursive;
      font-size: 1.3em;
      color: #E2624E; }

.ribbon i {
  position: absolute; }

body > header > nav > i:nth-child(2) {
  width: 20px;
  bottom: -20px;
  left: -60px;
  z-index: -2;
  border: 30px solid #F8CFC9;
  border-left-color: transparent; }

body > header > nav > i:nth-child(3) {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid #F8CFC9;
  border-right-color: transparent; }

.menu-checkbox:checked ~ .header-nav {
  display: none; }
  @media only screen and (max-width: 375px) {
    .menu-checkbox:checked ~ .header-nav {
      display: block; } }

.header-nav {
  display: flex; }
  @media only screen and (max-width: 375px) {
    .header-nav {
      display: none; } }

.fa-bars {
  display: none !important; }
  @media only screen and (max-width: 375px) {
    .fa-bars {
      display: block !important;
      color: #E2624E;
      font-size: x-large;
      text-align: center; } }
  .fa-bars .menu-checkbox {
    display: none; }
    @media only screen and (max-width: 375px) {
      .fa-bars .menu-checkbox {
        display: block; } }

#archives {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #archives h2 {
    font-family: "Chewy";
    font-size: 80px;
    color: #E2624E;
    margin-top: 30px; }
    @media only screen and (max-width: 768px) {
      #archives h2 {
        font-size: 50px; } }
  #archives #buttons {
    display: flex;
    justify-content: space-around;
    width: 50%; }
    @media only screen and (max-width: 768px) {
      #archives #buttons {
        width: 100%; } }
    #archives #buttons button {
      padding: 10px;
      border: none;
      background-color: #F6F479;
      margin: 0 5%;
      width: 150px;
      border-radius: 30px;
      font-family: "Chewy";
      box-shadow: 0 6px #cac863;
      transition: all 0.1s ease; }
      #archives #buttons button:hover {
        background-color: #d4d369;
        box-shadow: 0 6px #adac54; }
      #archives #buttons button:active {
        transform: translateY(3px);
        box-shadow: 0 3px #adac54; }
  #archives #articles {
    background-color: #CFD897;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 3%;
    border-radius: 10px;
    flex-wrap: wrap; }
    @media only screen and (max-width: 768px) {
      #archives #articles {
        flex-direction: column; } }
    #archives #articles article {
      width: 32%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border-radius: 15px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
      margin: 5% 0; }
      @media only screen and (max-width: 768px) {
        #archives #articles article {
          width: 100%;
          margin: 5% 0; } }
      #archives #articles article .content {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #archives #articles article .content h3 {
          text-align: center; }
          #archives #articles article .content h3 a {
            text-decoration: none;
            font-family: "Chewy";
            font-size: 25px;
            color: #E2624E; }
        #archives #articles article .content img {
          width: 100%;
          height: auto; }
        #archives #articles article .content li {
          list-style: none; }
          #archives #articles article .content li a {
            color: black; }
        #archives #articles article .content .texte {
          width: 90%;
          margin: 4% 0; }
        #archives #articles article .content p {
          font-family: "Montserrat";
          font-size: 13px; }
      #archives #articles article .infos {
        display: flex;
        flex-direction: column;
        align-items: center; }

#blog {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #blog h2 {
    font-family: "Chewy";
    font-size: 80px;
    color: #E2624E;
    margin-top: 30px; }
    @media only screen and (max-width: 768px) {
      #blog h2 {
        font-size: 50px; } }
  #blog #articles {
    background-color: #CFD897;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 3%;
    border-radius: 10px; }
    @media only screen and (max-width: 768px) {
      #blog #articles {
        flex-direction: column; } }
    #blog #articles article {
      width: 27%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border-radius: 15px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363); }
      @media only screen and (max-width: 768px) {
        #blog #articles article {
          width: 100%;
          margin: 5% 0; } }
      #blog #articles article .content {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #blog #articles article .content h3 {
          text-align: center; }
          #blog #articles article .content h3 a {
            text-decoration: none;
            font-family: "Chewy";
            font-size: 25px;
            color: #E2624E; }
        #blog #articles article .content img {
          width: 100%;
          height: auto; }
        #blog #articles article .content li {
          list-style: none; }
          #blog #articles article .content li a {
            color: black; }
        #blog #articles article .content .texte {
          width: 90%;
          margin: 4% 0; }
        #blog #articles article .content p {
          font-family: "Montserrat";
          font-size: 13px; }
      #blog #articles article .infos {
        display: flex;
        flex-direction: column;
        align-items: center; }
  #blog #recent {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      #blog #recent {
        flex-direction: column; } }
    #blog #recent #recentArticles {
      width: 50%;
      background-color: #F6F479;
      border-radius: 30px; }
      @media only screen and (max-width: 768px) {
        #blog #recent #recentArticles {
          width: 100%;
          margin-bottom: 5%; } }
      #blog #recent #recentArticles article {
        margin: 2%; }
        #blog #recent #recentArticles article a {
          color: black;
          font-family: "Chewy"; }
        #blog #recent #recentArticles article .infos {
          display: flex;
          font-size: 12px; }
          #blog #recent #recentArticles article .infos .auteur {
            margin-right: 3%; }
    #blog #recent #button-archives {
      text-transform: uppercase;
      background-color: #F6F479;
      padding: 20px;
      border-radius: 30px;
      text-decoration: none;
      color: black;
      font-family: "Chewy"; }

#index #caroussel {
  background-color: #DDE3B5;
  padding-bottom: 10vh;
  /*slider*/
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* The dots/bullets/indicators */
  /* Fading animation */ }
  @media only screen and (max-width: 375px) {
    #index #caroussel {
      position: relative; } }
  #index #caroussel .slideshow-container {
    width: 80%;
    margin: auto;
    background-color: #DDE3B5;
    position: relative; }
    @media only screen and (max-width: 375px) {
      #index #caroussel .slideshow-container {
        width: 70%; } }
  #index #caroussel .mySlides {
    justify-content: center;
    display: none; }
    @media only screen and (max-width: 375px) {
      #index #caroussel .mySlides img {
        width: 100%;
        height: auto; } }
  #index #caroussel .prev, #index #caroussel .next {
    position: absolute;
    top: 50%;
    width: 5%;
    margin-top: -22px;
    color: #807979ba;
    font-size: 18px;
    transition: 0.6s ease; }
    @media only screen and (max-width: 375px) {
      #index #caroussel .prev, #index #caroussel .next {
        width: 15%; } }
  #index #caroussel .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
    @media only screen and (max-width: 375px) {
      #index #caroussel .next {
        right: -19%; } }
  @media only screen and (max-width: 375px) {
    #index #caroussel .prev {
      left: -19%; } }
  #index #caroussel .prev:hover, #index #caroussel .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  #index #caroussel #alldots {
    display: flex;
    justify-content: center; }
    #index #caroussel #alldots .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease; }
    #index #caroussel #alldots .dot:hover {
      background-color: #717171; }
  #index #caroussel .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

#index #cartesactivités {
  margin-top: 20vh; }
  @media only screen and (max-width: 375px) {
    #index #cartesactivités {
      margin-top: 10vh; } }
  #index #cartesactivités #containeractivité {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 375px) {
      #index #cartesactivités #containeractivité {
        flex-direction: column; } }
    #index #cartesactivités #containeractivité .cartesindex {
      background-color: #F8CFC9;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      min-height: 350px; }
      @media only screen and (max-width: 375px) {
        #index #cartesactivités #containeractivité .cartesindex {
          width: 100%;
          margin-bottom: 5vh; } }
      #index #cartesactivités #containeractivité .cartesindex h2 {
        font-family: "Chewy";
        font-size: 1.2em;
        color: #E2624E; }
      #index #cartesactivités #containeractivité .cartesindex p {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: 300;
        color: black; }

#index #présentation {
  margin-top: 20vh; }
  @media only screen and (max-width: 375px) {
    #index #présentation {
      margin-top: 10vh; } }
  #index #présentation #containerprésentation {
    width: 80%;
    margin: auto;
    display: flex; }
    @media only screen and (max-width: 375px) {
      #index #présentation #containerprésentation {
        flex-direction: column; } }
    #index #présentation #containerprésentation #texteprésentation {
      width: 50%; }
      @media only screen and (max-width: 375px) {
        #index #présentation #containerprésentation #texteprésentation {
          width: 100%; } }
      #index #présentation #containerprésentation #texteprésentation #square {
        width: 100%;
        height: 500px;
        left: 148.44px;
        top: 1995.07px;
        background: #F6F479;
        transform: rotate(-2.77deg);
        display: flex;
        justify-content: center; }
        @media only screen and (max-width: 375px) {
          #index #présentation #containerprésentation #texteprésentation #square {
            height: auto; } }
        #index #présentation #containerprésentation #texteprésentation #square #titretexte {
          width: 80%;
          margin: auto; }
          #index #présentation #containerprésentation #texteprésentation #square #titretexte h2 {
            transform: rotate(2.77deg);
            font-family: "Chewy";
            font-style: normal;
            font-weight: normal;
            font-size: 1.2em;
            line-height: 47px;
            color: #000000; }
            @media only screen and (max-width: 375px) {
              #index #présentation #containerprésentation #texteprésentation #square #titretexte h2 {
                text-align: center;
                font-size: 1.5em; } }
          #index #présentation #containerprésentation #texteprésentation #square #titretexte p {
            font-family: 'Montserrat', sans-serif;
            font-size: 1em;
            font-weight: 400;
            transform: rotate(2.77deg);
            line-height: 29px;
            color: #000000; }
    #index #présentation #containerprésentation #imageprésentation {
      width: 50%; }
      @media only screen and (max-width: 375px) {
        #index #présentation #containerprésentation #imageprésentation {
          display: none; } }

@media only screen and (max-width: 375px) {
  #index #sectionvideo {
    margin-top: 10vh; } }

#index #sectionvideo #containervideo {
  width: 80%;
  margin: auto;
  display: flex; }
  @media only screen and (max-width: 375px) {
    #index #sectionvideo #containervideo {
      flex-direction: column;
      align-items: center; } }
  #index #sectionvideo #containervideo #perso {
    width: 50%; }
    @media only screen and (max-width: 375px) {
      #index #sectionvideo #containervideo #perso {
        display: none; } }
  #index #sectionvideo #containervideo #button {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    position: relative; }
    #index #sectionvideo #containervideo #button a {
      width: 10vw;
      height: 3vw;
      background: #DDE3B5;
      text-decoration: none;
      font-family: Chewy;
      font-size: 1.2em;
      line-height: 3vw;
      text-align: center;
      color: #000000; }
      @media only screen and (max-width: 375px) {
        #index #sectionvideo #containervideo #button a {
          width: 100%;
          height: 6vh;
          line-height: 6vh; } }
    #index #sectionvideo #containervideo #button img {
      left: 6vw;
      position: absolute; }
      @media only screen and (max-width: 375px) {
        #index #sectionvideo #containervideo #button img {
          width: 25%;
          left: 33vw; } }

* {
  box-sizing: border-box; }

#infos {
  width: 100%;
  background-color: white;
  padding-top: 3%; }
  #infos h2 {
    text-align: center;
    font-family: "Chewy";
    font-size: 80px;
    color: #E2624E;
    margin-bottom: 5%; }
    @media only screen and (max-width: 768px) {
      #infos h2 {
        font-size: 50px; } }
  #infos #infosContenu {
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 768px) {
      #infos #infosContenu {
        flex-direction: column;
        width: 80%;
        margin: auto; } }
    #infos #infosContenu #infosContent {
      width: 40%; }
      @media only screen and (max-width: 768px) {
        #infos #infosContenu #infosContent {
          width: 100%; } }
      #infos #infosContenu #infosContent #parc {
        background-color: #CFD897;
        padding-top: 3%; }
        @media only screen and (max-width: 768px) {
          #infos #infosContenu #infosContent #parc {
            margin-bottom: 5%; } }
        #infos #infosContenu #infosContent #parc h3 {
          font-family: "Chewy";
          font-size: 30px;
          margin: 3%; }
        #infos #infosContenu #infosContent #parc h4 {
          font-family: "Chewy";
          font-size: 20px;
          margin: 5% 3% 1%; }
        #infos #infosContenu #infosContent #parc p {
          font-family: "Montserrat";
          font-size: 13px;
          line-height: 200%;
          margin: 0 3%; }
      #infos #infosContenu #infosContent figure {
        margin-top: 5%;
        min-width: 380px; }
        @media only screen and (max-width: 768px) {
          #infos #infosContenu #infosContent figure {
            min-width: 200px; } }
        #infos #infosContenu #infosContent figure table {
          border: 2px solid black; }
          @media only screen and (max-width: 768px) {
            #infos #infosContenu #infosContent figure table tbody {
              display: flex; }
              #infos #infosContenu #infosContent figure table tbody tr {
                display: flex;
                flex-direction: column;
                width: 30%; }
                #infos #infosContenu #infosContent figure table tbody tr:first-of-type {
                  width: 40%; }
                #infos #infosContenu #infosContent figure table tbody tr td {
                  width: 100%;
                  height: 50px;
                  border: 1px solid black; } }
      @media only screen and (max-width: 768px) and (max-width: 450px) {
        #infos #infosContenu #infosContent figure table tbody tr td {
          height: 75px; } }
          #infos #infosContenu #infosContent figure table tr {
            background-color: white;
            border: 2px solid black; }
            #infos #infosContenu #infosContent figure table tr :first-child {
              background-color: #F6F479;
              font-family: "Chewy"; }
          #infos #infosContenu #infosContent figure table tr:first-of-type {
            background-color: #F6F479;
            font-family: "Chewy"; }
    #infos #infosContenu #infosImg {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media only screen and (max-width: 768px) {
        #infos #infosContenu #infosImg {
          width: 100%; } }
      #infos #infosContenu #infosImg #event {
        background-color: #F6F479;
        padding: 5% 10%;
        transform: rotate(3deg);
        margin-bottom: 3%; }
        #infos #infosContenu #infosImg #event h4 {
          font-family: "Chewy";
          font-size: 20px;
          margin-bottom: 1%;
          transform: rotate(-3deg); }
        #infos #infosContenu #infosImg #event p {
          transform: rotate(-3deg);
          font-family: "Montserrat"; }
      #infos #infosContenu #infosImg img {
        width: 100%;
        height: auto;
        margin-bottom: 10%; }
      #infos #infosContenu #infosImg #mascotte {
        width: 30%; }

#single {
  background-color: white;
  padding: 2% 0; }
  #single article {
    width: 95%;
    margin: auto; }
    #single article i {
      margin-right: 2%; }
  #single .center {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #single .center h2 {
      margin: 2% 0;
      font-family: "Chewy";
      font-size: 60px;
      color: #E2624E;
      text-align: center; }
      @media only screen and (max-width: 768px) {
        #single .center h2 {
          font-size: 40px; } }
    #single .center img {
      width: 80%;
      height: auto;
      margin: 3% 0;
      border-radius: 50% 10% 50% 10%; }
      @media only screen and (max-width: 768px) {
        #single .center img {
          width: 100%; } }
  #single .categorie {
    display: flex;
    margin: 1% 0; }
    #single .categorie li {
      list-style: none; }
      #single .categorie li a {
        color: black; }
  #single .auteur {
    display: flex;
    margin: 1% 0; }
  #single h3 {
    color: #E2624E;
    font-size: 30px;
    margin: 5% 0 2% 0;
    font-family: "Chewy"; }
  #single strong {
    color: #94A33E;
    font-family: "Chewy";
    font-size: 18px; }
  #single h4 {
    text-align: center;
    margin: 2% 0;
    font-family: "Chewy"; }
    #single h4 a {
      color: #E2624E; }
  #single p {
    font-family: "Montserrat";
    font-size: 15px; }
  #single .site__navigation {
    display: flex;
    justify-content: space-between;
    margin: 5% 2%; }
    #single .site__navigation a {
      color: #E2624E;
      font-family: "Chewy"; }

.toTop {
  width: 100%;
  display: flex;
  justify-content: center; }
  .toTop .fa-arrow-circle-up {
    color: #E2624E;
    font-size: 50px;
    margin-top: 30px; }

html {
  margin: 0px; }
  html body {
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 375px) {
      html body {
        width: 100%; } }
    html body #blog {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center; }
      html body #blog h2 {
        font-family: "Chewy";
        font-size: 80px;
        color: #E2624E;
        margin-top: 30px; }
      html body #blog #articles {
        background-color: #CFD897;
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: 30px;
        padding: 3%; }
        html body #blog #articles article {
          width: 27%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          background-color: white; }
          html body #blog #articles article .content {
            display: flex;
            flex-direction: column;
            align-items: center; }
            html body #blog #articles article .content h3 a {
              text-decoration: none;
              font-family: "Chewy";
              color: #E2624E; }
            html body #blog #articles article .content img {
              width: 100%;
              height: auto; }
          html body #blog #articles article .infos {
            display: flex;
            flex-direction: column;
            align-items: center; }

* {
  margin: 0;
  padding: 0;
  cursor: url(../lab_template2/image/cropped-favicon-32x32.cur), pointer; }
  * body {
    background-color: #CFD897; }
    * body #blog {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center; }
      * body #blog h2 {
        font-family: "Chewy";
        font-size: 80px;
        color: #E2624E;
        margin-top: 30px; }
        @media only screen and (max-width: 768px) {
          * body #blog h2 {
            font-size: 50px; } }
      * body #blog #articles {
        background-color: #CFD897;
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: 30px;
        padding: 3%;
        border-radius: 10px; }
        @media only screen and (max-width: 768px) {
          * body #blog #articles {
            flex-direction: column; } }
        * body #blog #articles article {
          width: 27%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          background-color: white;
          border-radius: 15px;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363); }
          @media only screen and (max-width: 768px) {
            * body #blog #articles article {
              width: 100%;
              margin: 5% 0; } }
          * body #blog #articles article .content {
            display: flex;
            flex-direction: column;
            align-items: center; }
            * body #blog #articles article .content h3 {
              text-align: center; }
              * body #blog #articles article .content h3 a {
                text-decoration: none;
                font-family: "Chewy";
                font-size: 25px;
                color: #E2624E; }
            * body #blog #articles article .content img {
              width: 100%;
              height: auto; }
            * body #blog #articles article .content li {
              list-style: none; }
              * body #blog #articles article .content li a {
                color: black; }
            * body #blog #articles article .content .texte {
              width: 90%;
              margin: 4% 0; }
            * body #blog #articles article .content p {
              font-family: "Montserrat";
              font-size: 13px; }
          * body #blog #articles article .infos {
            display: flex;
            flex-direction: column;
            align-items: center; }
      * body #blog #recent {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        @media only screen and (max-width: 768px) {
          * body #blog #recent {
            flex-direction: column; } }
        * body #blog #recent #recentArticles {
          width: 50%;
          background-color: #F6F479;
          border-radius: 30px; }
          @media only screen and (max-width: 768px) {
            * body #blog #recent #recentArticles {
              width: 100%;
              margin-bottom: 5%; } }
          * body #blog #recent #recentArticles article {
            margin: 2%; }
            * body #blog #recent #recentArticles article a {
              color: black;
              font-family: "Chewy"; }
            * body #blog #recent #recentArticles article .infos {
              display: flex;
              font-size: 12px; }
              * body #blog #recent #recentArticles article .infos .auteur {
                margin-right: 3%; }
        * body #blog #recent #button-archives {
          text-transform: uppercase;
          background-color: #F6F479;
          padding: 20px;
          border-radius: 30px;
          text-decoration: none;
          color: black;
          font-family: "Chewy"; }
    * body #single {
      background-color: white;
      padding: 2% 0; }
      * body #single article {
        width: 95%;
        margin: auto; }
        * body #single article i {
          margin-right: 2%; }
      * body #single .center {
        display: flex;
        flex-direction: column;
        align-items: center; }
        * body #single .center h2 {
          margin: 2% 0;
          font-family: "Chewy";
          font-size: 60px;
          color: #E2624E;
          text-align: center; }
          @media only screen and (max-width: 768px) {
            * body #single .center h2 {
              font-size: 40px; } }
        * body #single .center img {
          width: 80%;
          height: auto;
          margin: 3% 0;
          border-radius: 50% 10% 50% 10%; }
          @media only screen and (max-width: 768px) {
            * body #single .center img {
              width: 100%; } }
      * body #single .categorie {
        display: flex;
        margin: 1% 0; }
        * body #single .categorie li {
          list-style: none; }
          * body #single .categorie li a {
            color: black; }
      * body #single .auteur {
        display: flex;
        margin: 1% 0; }
      * body #single h3 {
        color: #E2624E;
        font-size: 30px;
        margin: 5% 0 2% 0;
        font-family: "Chewy"; }
      * body #single strong {
        color: #94A33E;
        font-family: "Chewy";
        font-size: 18px; }
      * body #single h4 {
        text-align: center;
        margin: 2% 0;
        font-family: "Chewy"; }
        * body #single h4 a {
          color: #E2624E; }
      * body #single p {
        font-family: "Montserrat";
        font-size: 15px; }
    * body #infos {
      width: 100%;
      background-color: white;
      padding-top: 3%; }
      * body #infos h2 {
        text-align: center;
        font-family: "Chewy";
        font-size: 80px;
        color: #E2624E;
        margin-bottom: 5%; }
        @media only screen and (max-width: 768px) {
          * body #infos h2 {
            font-size: 50px; } }
      * body #infos #infosContenu {
        display: flex;
        justify-content: space-around; }
        @media only screen and (max-width: 768px) {
          * body #infos #infosContenu {
            flex-direction: column;
            width: 80%;
            margin: auto; } }
        * body #infos #infosContenu #infosContent {
          width: 40%; }
          @media only screen and (max-width: 768px) {
            * body #infos #infosContenu #infosContent {
              width: 100%; } }
          * body #infos #infosContenu #infosContent #parc {
            background-color: #CFD897;
            padding-top: 3%; }
            @media only screen and (max-width: 768px) {
              * body #infos #infosContenu #infosContent #parc {
                margin-bottom: 5%; } }
            * body #infos #infosContenu #infosContent #parc h3 {
              font-family: "Chewy";
              font-size: 30px;
              margin: 3%; }
            * body #infos #infosContenu #infosContent #parc h4 {
              font-family: "Chewy";
              font-size: 20px;
              margin: 5% 3% 1%; }
            * body #infos #infosContenu #infosContent #parc p {
              font-family: "Montserrat";
              font-size: 13px;
              line-height: 200%;
              margin: 0 3%; }
          * body #infos #infosContenu #infosContent figure {
            margin-top: 5%;
            min-width: 380px; }
            @media only screen and (max-width: 768px) {
              * body #infos #infosContenu #infosContent figure {
                min-width: 200px; } }
            * body #infos #infosContenu #infosContent figure table {
              border: 2px solid black; }
              @media only screen and (max-width: 768px) {
                * body #infos #infosContenu #infosContent figure table tbody {
                  display: flex; }
                  * body #infos #infosContenu #infosContent figure table tbody tr {
                    display: flex;
                    flex-direction: column;
                    width: 30%; }
                    * body #infos #infosContenu #infosContent figure table tbody tr:first-of-type {
                      width: 40%; }
                    * body #infos #infosContenu #infosContent figure table tbody tr td {
                      width: 100%;
                      height: 50px;
                      border: 1px solid black; } }
      @media only screen and (max-width: 768px) and (max-width: 450px) {
        * body #infos #infosContenu #infosContent figure table tbody tr td {
          height: 75px; } }
              * body #infos #infosContenu #infosContent figure table tr {
                background-color: white;
                border: 2px solid black; }
                * body #infos #infosContenu #infosContent figure table tr :first-child {
                  background-color: #F6F479;
                  font-family: "Chewy"; }
              * body #infos #infosContenu #infosContent figure table tr:first-of-type {
                background-color: #F6F479;
                font-family: "Chewy"; }
        * body #infos #infosContenu #infosImg {
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: center; }
          @media only screen and (max-width: 768px) {
            * body #infos #infosContenu #infosImg {
              width: 100%; } }
          * body #infos #infosContenu #infosImg #event {
            background-color: #F6F479;
            padding: 5% 10%;
            transform: rotate(3deg);
            margin-bottom: 3%; }
            * body #infos #infosContenu #infosImg #event h4 {
              font-family: "Chewy";
              font-size: 20px;
              margin-bottom: 1%;
              transform: rotate(-3deg); }
            * body #infos #infosContenu #infosImg #event p {
              transform: rotate(-3deg);
              font-family: "Montserrat"; }
          * body #infos #infosContenu #infosImg img {
            width: 100%;
            height: auto;
            margin-bottom: 10%; }
          * body #infos #infosContenu #infosImg #mascotte {
            width: 30%; }
    * body #archives {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center; }
      * body #archives h2 {
        font-family: "Chewy";
        font-size: 80px;
        color: #E2624E;
        margin-top: 30px; }
        @media only screen and (max-width: 768px) {
          * body #archives h2 {
            font-size: 50px; } }
      * body #archives #buttons {
        display: flex;
        justify-content: space-around;
        width: 50%; }
        @media only screen and (max-width: 768px) {
          * body #archives #buttons {
            width: 100%; } }
        * body #archives #buttons button {
          padding: 10px;
          border: none;
          background-color: #F6F479;
          margin: 0 5%;
          width: 150px;
          border-radius: 30px;
          font-family: "Chewy";
          box-shadow: 0 6px #cac863;
          transition: all 0.1s ease; }
          * body #archives #buttons button:hover {
            background-color: #d4d369;
            box-shadow: 0 6px #adac54; }
          * body #archives #buttons button:active {
            transform: translateY(3px);
            box-shadow: 0 3px #adac54; }
      * body #archives #articles {
        background-color: #CFD897;
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: 30px;
        padding: 3%;
        border-radius: 10px;
        flex-wrap: wrap; }
        @media only screen and (max-width: 768px) {
          * body #archives #articles {
            flex-direction: column; } }
        * body #archives #articles article {
          width: 32%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          background-color: white;
          border-radius: 15px;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
          margin: 5% 0; }
          @media only screen and (max-width: 768px) {
            * body #archives #articles article {
              width: 100%;
              margin: 5% 0; } }
          * body #archives #articles article .content {
            display: flex;
            flex-direction: column;
            align-items: center; }
            * body #archives #articles article .content h3 {
              text-align: center; }
              * body #archives #articles article .content h3 a {
                text-decoration: none;
                font-family: "Chewy";
                font-size: 25px;
                color: #E2624E; }
            * body #archives #articles article .content img {
              width: 100%;
              height: auto; }
            * body #archives #articles article .content li {
              list-style: none; }
              * body #archives #articles article .content li a {
                color: black; }
            * body #archives #articles article .content .texte {
              width: 90%;
              margin: 4% 0; }
            * body #archives #articles article .content p {
              font-family: "Montserrat";
              font-size: 13px; }
          * body #archives #articles article .infos {
            display: flex;
            flex-direction: column;
            align-items: center; }
    * body .toTop {
      width: 100%;
      display: flex;
      justify-content: center; }
      * body .toTop .fa-arrow-circle-up {
        color: #E2624E;
        font-size: 50px;
        margin-top: 30px; }
/*# sourceMappingURL=style.css.map */